* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.navbar-light a.navbar-brand,
.navbar-light a.navbar-brand:hover {
font-weight: 900;
font-size: 48px;
line-height: 72px;
letter-spacing: 1px;
color: #121C33;
}

.box {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
}


.planet.card, .character.card {
    height: 200px;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    margin: 12px 0px 0px 12px;
}

.mini-character img {
    height: 72px;
    width: 72px;
    border-radius: 8px;
}

.img-loader-div {
    height: 70vh;
}

.offcanvas {
    margin-top: 16px;
    border-radius: 32px 32px 0px 0px;
}

.trash-icon {
    top: -36px;
    right: 0;
    z-index: 2;
}